<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
   <h2>Tech Used</h2>
   <ul>
       <li>Express.js</li>
       <li>AngularJS</li>
       <li>Node.js</li>
       <li>PostgresSQL</li>
       <li>Bootstrap</li>
   </ul>
   <h2>Limitations</h2>
   <ul>
        <li>Incomplete dataset</li>
        <li>Scale/simplicity</li>
    </ul>
    <h2>Next Steps</h2>
    <ul>
         <li>Graphing/visualization of data</li>
         <li>Side-by-side comparisons</li>
         <li>Search pitchers (by ID/name or by specific stats)</li>
         <li>More sophisticated UI</li>
     </ul>
</div>