<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <div class="welcome">
        <h1>Home page</h1>
    </div>
    <div class="pitchers" ng-init="pc.getPitchers()">
        <h3>Pick your pitcher:</h3>
        <select class="form-control" ng-model="pc.pitcherid" ng-change="pc.getPitchDataById(pc.pitcherid); pc.avgZoneSpeed()">
            <option ng-repeat="pitcher in pc.pitchers.list" value="{{pitcher.pitcherid}}">{{pitcher.pitcherid}} </option>
        </select>

        <div class="pitcherStats" ng-show="pc.displayStats">
            <h2>Quick Stats</h2>
            <h4>Pitches thrown: {{pc.pitchData.list.length}}</h4>
            <h4>Average Zone Speed: {{pc.pitchSpeed.roundedSpeed}} mph</h4>
            <div class="faves">
                <button ng-click="pc.addToFaves(pc.pitchSpeed.playerID)">Add to faves</button>
            </div>
        </div>

    </div>

</div>