<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h2>
    <div class="row" ng-controller="PitchController as fc" ng-init="fc.getFaves()">
        <div class="col-md-6">
            <h4>Here's who's on your shortlist:</h4>
            <p ng-repeat="fave in fc.favorites.list">{{fave.pitcherid}}
                <button ng-click="fc.getPitchDataById(fave.pitcherid); fc.getPitcherNotes(fave.pitcherid)">Show Details</button>
                <button ng-click="fc.removeFromFaves(fave.pitcherid)">Remove</button>
            </p>
        </div>
        <div class="col-md-6" ng-show="fc.displayStats">
            <h2>Pitcher {{fc.pitcher.playerID}}:</h2>
            <h4>Pitches thrown: {{fc.pitchData.list.length}}</h4>
            <h4>Average Zone Speed: {{fc.pitcher.roundedSpeed}} mph</h4>
            <div class="form-group">
                <label for="notes">Notes:</label>
                <h4 ng-hide="fc.editNotes">{{fc.pitcher.notes[0].notes}}</h4>
                <button class="btn btn-default" ng-click="fc.toggleEdit()" ng-hide="fc.editNotes">Edit notes</button>
                <textarea class="form-control" rows="5" id="notes" ng-model="fc.task.notes" ng-show="fc.editNotes"></textarea>
                <button type="submit" class="btn btn-default" ng-show="fc.editNotes" ng-click="fc.updateNotes(fc.pitcher.playerID); fc.toggleEdit();">Update Notes</button>
            </div>
        </div>
    </div>
</div>